body
{
    background-color: black;
    color: white;
    

}

div.naglowek-parent
{
    display: flex;
    justify-content: center; 
    align-items: center;
}
div.naglowek
{
    align-self: center;
    text-align: center;
    border: 1px;
    width: 50%;
    border-color: white;
    border-style: solid;
}
div.menu
{
    padding-left: 25%;
    justify-content: center; 
    align-items: center;
}
div.menu2
{
    align-self: center;
    text-align: center;
    border: 1px;
    width: 66.5%;
    border-color: white;
    border-style: solid;
}
h1
{
    font-variant: small-caps;
}
a {
    text-decoration: none;
    color: white;
 }
div.menu2:hover
{
    border-color: gray;
    width: 66.5%;

}

div.menu2:active
{
    border-color: black;
    width: 66.5%;

}
/** DRUGA STRONA **/

div.papier
{
    display: flex;
    display: block;
    border: 1px;
    height: 1250px;
    width: 900px;
    border-color: white;
    border-style: solid;
}

body.drugastrona
{
    display: flex;
    justify-content: center; 
    align-items: center;
}
div.zdjecie
{
    background-color: gray;
    height: 150px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 125PX;
}

.section {
    text-align: center;
    margin-bottom: 20px;
    font-color: white;
  }

  .section h2 {
    margin-bottom: 10px;
  }

  .section .sub-heading {
    font-weight: bold;
  }

  .section ul {
    list-style-type: none;
    padding-left: 20px;
    margin-bottom: 10px;
  }

  .section ul li {
    margin-bottom: 5px;
  }

  .section .date {
    font-style: italic;
  }

  .section .description {
    margin-top: 5px;
  }